@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .invisible-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  .invisible-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none; /* Chrome, Safari, Opera */
  }
}
.hero {
  background-image: radial-gradient(
    circle farthest-side at var(--x, 100px) var(--y, 0px),
    #8981ff -250%,
    transparent 20%
  );
}
.box {
  position: relative;
}
.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px; /*1*/
  border: 2px solid transparent; /*2*/
  background: linear-gradient(90deg, #a2a1a3, rgba(108, 107, 108, 0.2), rgba(10, 9, 11, 0.001)) border-box; /*3*/
  mask: /*4*/ linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  mask-composite: exclude; /*5*/
}
